In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.0-cp311-cp311-win_amd64.whl (11.2 MB)
     --------------------------------------- 11.2/11.2 MB 10.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ------------------------------------- 502.3/502.3 kB 10.7 MB/s eta 0:00:00
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ------------------------------------- 341.8/341.8 kB 10.7 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.24.2-cp311-cp311-win_amd64.whl (14.8 MB)
     --------------------------------------- 14.8/14.8 MB 11.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.2 pandas-2.0.0 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'c:\Users\user\AppData\Local\Programs\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip available: 22.3 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [48]:
def path(name):
    df = pd.read_csv(name)
    return df

In [46]:
df = pd.read_csv(name)
name = 'C:/Users/user/BrentOilPrices.csv'

In [49]:
path('C:/Users/user/BrentOilPrices.csv')

              Date  Price
0        20-May-87  18.63
1        21-May-87  18.45
2        22-May-87  18.55
3        25-May-87  18.60
4        26-May-87  18.63
...            ...    ...
9006  Nov 08, 2022  96.85
9007  Nov 09, 2022  93.05
9008  Nov 10, 2022  94.25
9009  Nov 11, 2022  96.37
9010  Nov 14, 2022  93.59

[9011 rows x 2 columns]

In [51]:
from pipeline.extract import df
df("C:/Users/user/BrentOilPrices.csv")

              Date  Price
0        20-May-87  18.63
1        21-May-87  18.45
2        22-May-87  18.55
3        25-May-87  18.60
4        26-May-87  18.63
...            ...    ...
9006  Nov 08, 2022  96.85
9007  Nov 09, 2022  93.05
9008  Nov 10, 2022  94.25
9009  Nov 11, 2022  96.37
9010  Nov 14, 2022  93.59

[9011 rows x 2 columns]

In [55]:
import pandas as pd
from pipeline.extract import df

def datetime(col):
    result = df.result.columns[col].apply(lambda x: pd.to_datetime(x))
    return result

In [56]:
datetime['Date']

TypeError: 'function' object is not subscriptable

In [61]:
DB_SETTINGS = {
    'dir_path': "C:/Users/user/BrentOilPrices.csv"
}

class DBConnector:
    def __init__(self, path):
        self.path = path


result = df(
    db_connector=DBConnector(**DB_SETTINGS['dir_path'])
)

TypeError: __main__.DBConnector() argument after ** must be a mapping, not str

In [ ]:

def etl():
    print('start_etl')

    result = extract.df(
        db_connector=DBConnector(**DB_SETTINGS['dir_path'])
    )

    result = trnsfrom.


    print('end_etl')